html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #181818;
}

.app {
  display: flex;
  flex-direction: column; 
  text-align: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  min-height: 100vh;
  position: relative;
  background-color: rgb(26, 26, 26);
}