Flask
flask-cors
python-dotenv
psycopg2-binary
numpy
pandas
faiss-cpu
scikit-learn
thefuzz
langchain
langchain-google-genai
langchain-community
langgraph
sentence-transformers
gunicorn
google-cloud-storage